.App {
  text-align: center;
}

.imgclass {
  margin-bottom: 30px;
  border: 1px solid;
  border-color: lightgrey;
}

.headerrow {
  margin-top: 30px;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.footer {
  margin-top: 50px;
  text-align: center;
}

.footerrow {
  background-color: lightgray;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Criteria {
  margin-bottom: 30px;
}

.tab {
  padding-left: 2px;
  padding-right: 2px;
}
